:root {
  /* colors */
  --color-primary: #6366f1;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --color-overlay: rgba(15, 23, 42, 0.65);

  /* Typography*/
  --font-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-base);
  min-height: 100vh;
  background-color: var(--color-light);
}
.container {
  display: flex;
  min-height: 100vh;
}
.left-panel {
  flex: 1;
  background-image:
    linear-gradient(var(--color-overlay), var(--color-overlay)),
    url("../images/SignUp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}
.branding {
  text-align: center;
  color: var(--color-light);
}
.branding h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 1rem;
}
.branding p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  opacity: 0.9;
}
