:root {
  /* colors */
  --color-primary: #6366f1;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --color-overlay: rgba(15, 23, 42, 0.65);

  /* Typography*/
  --font-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-base);
  min-height: 100vh;
  background-color: var(--color-light);
}
.container {
  display: flex;
  min-height: 100vh;
}
