:root {
  /* colors */
  --color-primary: #6366f1;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --color-overlay: rgba(15, 23, 42, 0.65);

  /* Typography*/
  --font-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-base);
  min-height: 100vh;
  background-color: var(--color-light);
}
.container {
  display: flex;
  min-height: 100vh;
}
.left-panel {
  flex: 1;
  background-image:
    linear-gradient(var(--color-overlay), var(--color-overlay)),
    url("../images/SignUp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}
.branding {
  text-align: center;
  color: var(--color-light);
}
.branding h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 1rem;
}
.branding p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  opacity: 0.9;
}
.right-panel {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.form-wrapper {
  width: 100%;
  max-width: 500px;
}
.intro {
  margin-bottom: 2rem;
}
.intro h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  color: var(--color-dark);
  margin-bottom: 1rem;
}
.intro p {
  color: #475569;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9rem;
  flex: 1;
}

label {
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
  color: #334155;
}
input {
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 1rem;
  transition: 0.2s ease;
}
input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}
button {
  margin-top: 0.9rem;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  opacity: 0.9;
}
.login-link {
  margin-top: 0.9rem;
  font-size: 0.9rem;
}
.login-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}
